:root{
    --colorPrincipal: rgb(6, 152, 87);
    --efectoHover: rgba(6, 152, 86, 0.486);
    --sano: #28a745;
    --enfermo: #dc3545;
    --riesgo: #ffc107;
    --discapacitado: #007bff;
    --btnColor: #005e9e;
}

/*Utiles*/
@font-face{
    font-family: 'Open-sans-bold';
    src: url(../tipografia/open-sans/OpenSans-Bold.ttf);
}

@font-face{
    font-family: 'Open-sans-regular';
    src: url(../tipografia/open-sans/OpenSans-Regular.ttf);
}

@keyframes rotar{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(180deg);
    }
}

@-webkit-keyframes rotar{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(180deg);
    }
}

@-moz-keyframes rotar{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(180deg);
    }
}

@keyframes loader {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

@-moz-keyframes loader {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

.rotar{
    animation-name: rotar;
    animation-duration: .3s;
    animation-timing-function: ease-in;
    -webkit-animation-name: rotar;
    -webkit-animation-duration: .3s;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-name: rotar;
    -moz-animation-duration: .3s;
    -moz-animation-timing-function: ease-in;
}

.grupo1{
    color: var(--sano);
}

.grupo2{
    color: var(--riesgo);
}

.grupo3{
    color: var(--enfermo);
}

.grupo4{
    color: var(--discapacitado);
}

html{
    box-sizing: border-box;
    min-height: 100%;
}

body{
    font-family: 'Open-sans-regular';
    font-size: 14px;
    position: relative;
    overflow-x: hidden;
}

*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*********************** 
ESTILOS GENERALES
 ***********************/
ul{
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}

i{
    color: #fff;
    font-family: 'Open-sans-regular'
} 

h1{
    font-family: 'Open-sans-bold';
}

h1:hover{
    cursor: pointer;
}

h2{
    display: block;
}

a{
    text-decoration: none;
    color: #fff;
}

.sano{
    color:#28a745;
}

.riesgo{
    color:#ffc107;
}

.enfermo{
    color:#dc3545;
}

.discapacitado{
    background-color: #007bff;
}

.btn{
    border: none;
    border-radius: 20px;
    padding: .5rem 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .2s;
    font-family: 'Open-sans-regular';
    outline: 0;
}

.btn:active{
    transform: scale(.9);
}

.btn-guardar, .btn-buscar{
    background-color: var(--btnColor);
    color: white;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
} 

select::-moz-focus-inner,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{
    border: none;
    outline: none;
}

.ocultar{
    max-height: 0;
}

.imagen-fondo{
    background-image: url('../img/medicos.png');
    padding: 1rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.imagen-fondo:after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
    content: "";
    z-index: 1;
}

.imagen-fondo article, .imagen-fondo main{
    position: relative;
    z-index: 2;
}

select {
    width: 100%;
    border-radius: 5px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    padding: .3rem;
}

.smallDot {
    height: 0;
    opacity: 0;
}

.d-none{
    display: none !important;
    overflow: hidden;
}

.loader-container {
    position: fixed;
    bottom: 2rem;
    left: .5rem;
    width: 50px;
    height: 50px;
    z-index: 99999;
    /*display: none;*/
}

.loader {
    width: 35px;
    height: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid var(--colorPrincipal);
    border-left-color: white;
    border-radius: 50%;
    animation: loader .8s linear infinite;
    -webkit-animation: loader .8s linear infinite;
    -moz-animation: loader .8s linear infinite;
}

/*********************** 
ESTILOS HEADER
 ***********************/
header{
    background-color: var(--colorPrincipal);
    color: #fff;
    box-shadow: 0px 2px 5px rgba(6, 152, 86, 0.705);
}

.contenido-header{
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
}

.nav-botones-header{
   display: flex;
   align-items: center;
}

.nav-botones-header ul{
    display: flex;
}

.nav-botones-header ul li{
    margin-right: 1.5rem;
    position: relative;
}

.info-usuario .info{
    position: absolute;
    z-index: 100;
    right: 5px;
    background-color: white;
    padding: 10px;
    border-radius: 10px 0 10px 10px;
    box-shadow: 0 0 10px black;
    width: 300px;
    transition: all .3s ease-out;
    transform-origin: right top; 
    transform: scale(0);
}

.info-usuario .info.mostrar {
    transform: scale(1);
}

.info-usuario .info p{
    color: black;
    margin-bottom: 7px;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
}

.info-usuario .info p:hover{
    cursor: default;
}

.info-usuario .info p span {
    font-weight: bold;
    font-style: normal;
}

.info-usuario .info div{
    text-align: center;
}

.info-usuario .info div i{
    color: black!important;
}

.nav-botones-header ul li:hover{
    cursor: pointer;
}

.nav-botones-header ul li:last-child{
    margin-right: 0;
}

.nav-botones-header ul li i{
    font-size: 1rem;
    
}

.nav-botones-header ul li span.notificaciones{
    position: absolute;
    top: -5px;
    right: -10px;
    height: 18px;
    width: 18px;
    background-color: var(--enfermo);
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    border-radius: 50%;
    z-index: 100;
    text-shadow: 1px 0 2px black;
}

/*********************** 
ESTILOS SUB-HEADER
 ***********************/
.contenido-sub-header ul{
    display: flex;
    justify-content: space-between;
}

.sub-header{
    background-color: var(--colorPrincipal);
    margin: 0 auto 1rem;
    border-radius: 5px;
    border: 1px solid var(--colorPrincipal);
}

.sub-header ul li{
     flex: 1;
     color: #fff;
     text-align: center;
     height: 35px;
}

.sub-header ul li:hover a, .sub-header ul li:hover{
    background-color: white;
    color: var(--colorPrincipal) !important;
}

.sub-header ul li:first-child{
    border-radius: 5px 0 0 5px;
}

.sub-header ul li:last-child{
    border-radius: 0 5px 5px 0;
}

.sub-header ul li a{
    width: 100%;
    line-height: 35px
}

.active, .active a{
    background-color: #fff !important;
    color: var(--colorPrincipal);
}

 /*********************** 
ESTILOS CUADRO AGREGAR PACIENTE
 ***********************/ 
.body-desplegable{
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: rgba(6, 152, 87, .8);
    border-radius: 0 0 10px 10px;
    color: #fff;
    transition: all .5s;
    overflow: hidden;
    max-height: 2000px;
    max-width: 500px;
    z-index: 2;
    position: relative;
}

.body-desplegable form{
    max-width: 800px;
    margin: 0 auto;
}

.btn-desplegable{
   text-align: center;
   background-color: var(--colorPrincipal);
   padding: 5px;
   color: white;
   font-family: 'Open-sans-bold';
   box-shadow: 0 1px 3px;
   text-transform: uppercase;
   font-size: 1rem;
   max-width: 500px;
   z-index: 2;
   position: relative;
   height: 32px;
}

.btn-desplegable .content-text{
    position: relative;
}

.btn-desplegable .content-text p:last-child{
    opacity: 0;
}

.btn-desplegable.mostrar .content-text p:first-child{
    opacity: 0;
}

.btn-desplegable.mostrar .content-text p:last-child{
    opacity: 1;
}

.btn-desplegable p{
    transition: opacity .4s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.btn-desplegable:hover{
    cursor: pointer;
}

.form-agregar, .form-buscar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form-agregar h2{
    text-align: center;
    margin-bottom: 1rem;
    display: none;
}

.form-buscar h2{
    text-align: center;
    margin-bottom: 1rem;
}

.form-agregar i, .form-buscar i{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    transition: transform .2s;
}

.form-agregar i:hover, .form-buscar i:hover{
    color: var(--btnColor);
    cursor: pointer;
    transform: scale(1.2);
}

.form-agregar.editar .h2-editar {
    display: block;
}

.form-agregar:not(.editar) .h2-agregar{
    display: block;
}

form .campo-container {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

form .campo-container label{
    margin-bottom: .1rem;
}

form input{
    width: 100%;
    padding: .3rem;
    border-radius: 5px;
    border: none;
    transition: all .2s;
}

form .campo-container select{
    width: 100%;
    border-radius: 5px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    padding: .3rem;
}

form input:focus{
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
}

form input:focus::placeholder{
    color: white;
}

form button{
    margin: .5rem auto;
    display: inline-block;
}

.div-button, .div-button-nucleo{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

 /*********************** 
ESTILOS FORMULARIO NUCLEO
 ***********************/
#direccion-nucleo, #manzana-nucleo{
    max-width: 400px;
    margin-bottom: 1.5rem;
}

 .contenedor-select-nucleo{
    margin-bottom: 1.5rem;
    border: 1px solid white;
    border-radius: 5px;
    padding: .5rem;
    flex: 0 0 100%;
    max-width: 400px;
 }

 .contenedor-select-nucleo h4{
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
    text-align: center;
 }

 .flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.radio-container{
    margin: 5px 0;
}

 .radio-container input{
    display: none;
 }

 .radio-container input:checked + label{
    background-color: rgba(0,0,0,.7);
    /*background-color: #4c5b51;*/
 }

 .radio-container label{
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    text-shadow: 0 1px 1px black;
    padding: 0 .5rem;
 }

.radio-container select{
   margin: .5rem auto;
   padding: .2rem;
   font-size: .9rem;
}

.radio-container select option{
    padding: .2rem;
    margin-bottom: .1rem;
}

#select-evaluacion[disabled]{
    cursor: not-allowed;
}

 /*********************** 
ESTILOS VISTAS
 ***********************/
.vista-pacientes, .vista-nucleos{
     color: #000;
     background-color: white;
     padding: 1rem 0 3rem;
}

.encabezado-vista{
    display: flex;
    margin-bottom: 1rem;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    transition: all .3s;
}

.encabezado-vista-scroll{
    padding: .7rem;
    font-size: 1rem;
    background-color: var(--colorPrincipal);
    border-radius: 0 0 5px 5px;
    color: white;
}

table {
    border-collapse: collapse;
}

.table {
    max-width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    overflow: scroll;
}

.table th,
.table td {
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: center;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table tbody tr:last-child{
    border-bottom: 1px solid #dee2e6;
}

.table tbody td{
    text-align: center;
}

tr span{
    font-size: 1rem;
    transition: all .2s;
}

tr span i{
    transition: all .2s;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 10px;
    color: #fff;
    padding: .5rem;
}

.icono-editar:hover i{
    cursor: pointer;
    color: var(--sano); 
    background-color: transparent;
}

.icono-eliminar:hover i{
    cursor: pointer;
    color: var(--enfermo);
    background-color: transparent;
}

.icono-miembros:hover i {
    cursor: pointer;
    color: var(--btnColor);
    background-color: transparent;
}

.tabla-responsive{
    display: none;
}

  /*********************** 
ESTILOS GRÁFICOS
 ***********************/
 .contenedor-graficos{
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
 }
 .grafico{
    margin: auto;
    border-left: 1px solid rgb(6, 152, 87);
    transform: rotate(-90deg);
    max-width: 200px;
    position: relative;
 }

 .grafico h2{
     transform: rotate(90deg);
     position: absolute;
     right: -170px;
     top: 50%;
 }

 .grafico ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;  
 }

.grafico ul li{
    background-color: var(--colorPrincipal);
    height: 20px; 
    position: relative;
    text-align: right;
    width: 0;
    transition: all 1s;
    border-radius: 0 5px 5px 0;
 }

.grafico ul li:after{
    content: attr(data-content);
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    right: -25px;
    transform: rotate(90deg);
    font-weight: bold;
}

 .grafico ul li p{
    position: absolute;
    transform: rotate(90deg);
    left: -20px;
    font-weight: bold;
    
 }

/*********************** 
ESTILOS PANEL DE NOTIFICACIONES
 ***********************/
.panel-de-notificaciones{
    z-index: 1000;
    position: fixed;
    right: -100%;
    transition: all .3s;
    background-color: white;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 2px 3px black;
    height: 100vh;
    overflow-y: scroll;
}

.mostrar-panel-notificaciones{
    right: 0;
}

.header-panel-notificaciones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--colorPrincipal);
}

 .header-panel-notificaciones i{
    color: white;
    font-size: 1.5rem;
 }

 .header-panel-notificaciones i:hover{
    cursor: pointer;
 }

.header-panel-notificaciones h2{
    font-family: 'Open-sans-bold';
    color: white;
  }

.body-panel-notificaciones{
    padding: 1rem;
}

.body-panel-notificaciones ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .8rem;
    border-bottom: 1px solid white;
    padding: 0 8px;
}

.body-panel-notificaciones ul li:hover{
    border-bottom: 1px solid var(--colorPrincipal);
}

.body-panel-notificaciones ul li p{
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
}

.body-panel-notificaciones i{
    color: gray;
    font-size: 1rem;
}

.body-panel-notificaciones .iconos i:first-child{
    color: var(--colorPrincipal);
    margin-right: 1rem;
}

.body-panel-notificaciones .iconos i:last-child{
    color: #dc3545;
}

.body-panel-notificaciones i:hover{
    cursor: pointer;
}

.body-panel-notificaciones .consultas{
    margin-bottom: 1rem;
}

.body-panel-notificaciones h3{
    margin-bottom: 1rem;
    font-family: 'Open-sans-bold';
    border-bottom: 1px solid var(--colorPrincipal);
    width: 75%;
}

/*********************** 
ESTILOS NUCLEOS
 ***********************/
 .cont-form-edit-nuc{
    transition: all .5s;
    overflow: hidden;
 }

/*********************** 
ESTILOS GRID
 ***********************/
 .col-6{
    flex: 0 0 calc(50% - 1rem);
    max-width: 50%;
 }

 .col-12{
    flex: 0 0 100%;
    max-width: 100%;
 }

 /*********************** 
ESTILOS RESPONSIVE
 ***********************/

 /*TABLE RESPONSIVE*/
@media screen and (max-width: 850px){
    .table{
        display: none;
    }

    .tabla-responsive{
        display: block;
    }

    .tabla-responsive .fila-paciente{
        padding: 0.75rem;
        border-top: 1px solid #dee2e6;
        overflow-y: hidden;
        max-height: 65px;
        transition: all .2s linear;
    }

    .tabla-responsive .fila-paciente:last-child{
        border-bottom: 1px solid #dee2e6;
    }

    .tabla-responsive .fila-paciente .campo{
        display: flex;
        margin-bottom: .5rem;
        min-height: 40px;
        align-items: center;
        justify-content: space-between;
    }

    .campo p, .campo div{
        flex: 2;
        text-align: center;
    }

    .campo h4{
        flex: 1;
    }

    .campo span{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;  
        font-size: 1.7rem;
    }

    .campo span:hover{
        cursor: pointer;
    }

    .campo .acciones span{
        display: inline-block;
        background-color: rgba(0, 0, 0, .8);
        font-size: 1.2rem; 
        margin-right: 1rem;
        text-align: center;
        height: 30px;
        line-height: 30px;
        border-radius: 10px;
        color: #fff;
        transition: all .2s;
    }

    .campo .acciones span:hover{
        background-color: transparent;
    }

    .campo .acciones .icono-editar:hover i{
        /*background-color: transparent;*/
        color: var(--sano); /*VERDE*/
    }

    .campo .acciones .icono-eliminar:hover i{
        /*background-color: transparent;*/
        color: var(--enfermo); /*ROJO*/
    }

    .campo .acciones .icono-miembros:hover i{
        /*background-color: transparent;*/
        color: var(--btnColor);
    }

    .campo .acciones span:last-child{
        margin-right: 0;
    }

    
}
/*TABLE RESPONSIVE - FIN*/

@media screen and (max-width: 630px){
    .col-sm-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 790px){
    #manzana-nucleo, #direccion-nucleo{
        flex: 0 0 calc(50% - 1rem);
        max-width: calc(50% - 1rem);
        margin-right: 1rem;
    }

    .contenedor-select-nucleo {
        flex: 0 0 calc(50% - 1rem);
        max-width: calc(50% - 1rem);
        margin-right: 1rem;
    }

    .btn-desplegable, .body-desplegable {
        max-width: 900px;
    }
}

@media screen and (min-width: 600px){
    .campo p{
        font-size: 1rem;
    }

    .campo h4{
        font-size: 1rem;
    }

    .campo span{
        font-size: 2rem;
    }

    .sub-header ul li a{
        font-size: 1.3rem;
    }

    .nav-botones-header ul li i{
        font-size: 1.3rem;
    }

    .col-md-12{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-8{
        flex: 0 0 calc(66.6% - 1rem);
        max-width: calc(66.6% - 1rem);
        margin-right: 1rem; 
    }

    .col-md-6{
        flex: 0 0 calc(50% - 1rem);
        max-width: calc(50% - 1rem);
        margin-right: 1rem;
    }

    .col-md-4{
        flex: 0 0 calc(33.3% - 1rem);
        max-width: calc(33.3% - 1rem);
        margin-right: 1rem;
    }

    .col-md-2{
        flex: 0 0 calc(16.65% - 1rem);
        max-width: calc(16.65% - 1rem);
        margin-right: 1rem;
    }

    form h2{
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 850px){
    main{
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px){
    .contenedor-select-nucleo h4{
        font-size: 1.1rem;
    }

    .radio-container label{
        font-size: 1rem;
    }
}

/* FLECHA DE HACER SCROLL */

.scroll-up i{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 2000;
    background-color: var(--colorPrincipal);
    border-radius: 50%;
    color: white;
    font-size: 2.5rem;
    box-shadow: 1px 2px 3px var(--colorPrincipal);
    padding: .2rem;
    transform: scale(0);
    transition: all .3s;
}

.scroll-up i:hover{
    cursor: pointer;
}