:root {
	--sano: #28a745;
    --enfermo: #dc3545;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face{
    font-family: 'Open-sans-regular';
    src: url(../tipografia/open-sans/OpenSans-Regular.ttf);
}

body {
	min-height: 100vh;
	background-image: url('../img/estetoscopio.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open-sans-regular';
}

body:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(310deg, rgba(255, 255, 255, .8), rgba(255, 255, 255, .3));
}

.form-container {
	z-index: 1;
	background-color: white;
	padding: .5rem;
	box-shadow: 0 0 10px black;
	width: 360px;
	border-radius: 10px;
	max-height: 100vh;
}

.form-container h2 {
	text-align: center;
	margin-top: .5rem;
}

.form-container form {
	margin: 1rem auto 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 70%;

}

.input-container {
	flex: 0 0 100%;
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.select-container {
	margin-bottom: 0;
}

.input-container input {
	border: none;
	width: 90%;
	padding: 3px;
	border-bottom: 2px solid #f0f0f0; 
	outline: none;
	font-family: 'Open-sans-regular';
}

.input-container input:focus {
	border-color: #777;
}

.input-container input::placeholder{
	font-family: 'Open-sans-regular';
	font-weight: bold;
}

.input-container select {
	width: 90%;
	appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border-bottom: 2px solid #f0f0f0; 
    padding: .3rem;
}

.input-container.success input {
	border-bottom: 2px solid var(--sano) !important;
}

.input-container.error input {
	border-bottom: 2px solid var(--enfermo) !important;
}

.input-container small {
	color: var(--enfermo);
	position: absolute;
	bottom: -2.1rem;
	left: 0;
	visibility: hidden;
}

.input-container.error small {
	visibility: visible;
}

.input-container i:hover {
	cursor: pointer;
}

.btn{
    border: none;
    border-radius: 20px;
    padding: .5rem 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .2s;
    font-family: 'Open-sans-regular';
    outline: 0;
    background-color: rgb(52, 152, 219);
    margin: 1rem auto;
    color: white;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

span.respuesta {
	display: block;
	text-align: center;
	margin-bottom: .5rem;
} 