@import url(estilos.css);

#direccion-nucleo, #manzana-nucleo{
    max-width: 400px;
    margin-bottom: 1.5rem;
}

 .contenedor-select-nucleo{
    margin-bottom: 1.5rem;
    border: 1px solid white;
    border-radius: 5px;
    padding: .5rem;
    flex: 0 0 100%;
    max-width: 400px;
 }

 .contenedor-select-nucleo h4{
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
    text-align: center;
 }

 .flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.radio-container{
    margin: 5px 0;
}

 .radio-container input{
    display: none;
 }

 .radio-container input:checked + label{
    background-color: rgba(0,0,0,.7);
    /*background-color: #4c5b51;*/
 }

 .radio-container label{
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    text-shadow: 0 1px 1px black;
    padding: 0 .5rem;
 }

.radio-container select{
   margin: .5rem auto;
   padding: .2rem;
   font-size: .9rem;
}

.radio-container select option{
    padding: .2rem;
    margin-bottom: .1rem;
}

#select-evaluacion[disabled]{
    cursor: not-allowed;
}

 .cont-form-edit-nuc{
    transition: all .5s;
    overflow: hidden;
 }