@import url(generales.css);

 /*********************** 
ESTILOS CUADRO AGREGAR PACIENTE
 ***********************/ 
.body-desplegable{
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: rgba(6, 152, 87, .8);
    border-radius: 0 0 10px 10px;
    color: #fff;
    transition: all .5s;
    overflow: hidden;
    max-height: 2000px;
    max-width: 500px;
    z-index: 2;
    position: relative;
}

.body-desplegable form{
    max-width: 800px;
    margin: 0 auto;
}

.btn-desplegable{
   text-align: center;
   background-color: var(--colorPrincipal);
   padding: 5px;
   color: white;
   font-family: 'Open-sans-bold';
   box-shadow: 0 1px 3px;
   text-transform: uppercase;
   font-size: 1rem;
   max-width: 500px;
   z-index: 2;
   position: relative;
   height: 32px;
}

.btn-desplegable .content-text{
    position: relative;
}

.btn-desplegable .content-text p:last-child{
    opacity: 0;
}

.btn-desplegable.mostrar .content-text p:first-child{
    opacity: 0;
}

.btn-desplegable.mostrar .content-text p:last-child{
    opacity: 1;
}

.btn-desplegable p{
    transition: opacity .4s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.btn-desplegable:hover{
    cursor: pointer;
}

.form-agregar, .form-buscar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form-agregar h2{
    text-align: center;
    margin-bottom: 1rem;
    display: none;
}

.form-buscar h2{
    text-align: center;
    margin-bottom: 1rem;
}

.form-agregar i, .form-buscar i{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    transition: transform .2s;
}

.form-agregar i:hover, .form-buscar i:hover{
    color: var(--btnColor);
    cursor: pointer;
    transform: scale(1.2);
}

.form-agregar.editar .h2-editar {
    display: block;
}

.form-agregar:not(.editar) .h2-agregar{
    display: block;
}

form .campo-container {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

form .campo-container label{
    margin-bottom: .1rem;
}

form input{
    width: 100%;
    padding: .3rem;
    border-radius: 5px;
    border: none;
    transition: all .2s;
}

form .campo-container select{
    width: 100%;
    border-radius: 5px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    padding: .3rem;
}

form input:focus{
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
}

form input:focus::placeholder{
    color: white;
}

form button{
    margin: .5rem auto;
    display: inline-block;
}

.div-button, .div-button-nucleo{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

 /*********************** 
ESTILOS FORMULARIO NUCLEO
 ***********************/
.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.radio-container{
    margin: 5px 0;
}

.radio-container input{
    display: none;
}

.radio-container input:checked + label{
    background-color: rgba(0,0,0,.7);
}

.radio-container label{
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    text-shadow: 0 1px 1px black;
    padding: 0 .5rem;
}

 /*********************** 
ESTILOS TABLA
 ***********************/
.vista-pacientes, .vista-nucleos{
     color: #000;
     background-color: white;
     padding: 1rem 0 3rem;
}

.encabezado-vista{
    display: flex;
    margin-bottom: 1rem;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    transition: all .3s;
}

.encabezado-vista-scroll{
    padding: .7rem;
    font-size: 1rem;
    background-color: var(--colorPrincipal);
    border-radius: 0 0 5px 5px;
    color: white;
}

table {
    border-collapse: collapse;
}

.table {
    max-width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    overflow: scroll;
}

.table th,
.table td {
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: center;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table tbody tr:last-child{
    border-bottom: 1px solid #dee2e6;
}

.table tbody td{
    text-align: center;
}

tr span{
    font-size: 1rem;
    transition: all .2s;
}

tr span i{
    transition: all .2s;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 10px;
    color: #fff;
    padding: .5rem;
}

.icono-editar:hover i{
    cursor: pointer;
    color: var(--sano); 
    background-color: transparent;
}

.icono-eliminar:hover i{
    cursor: pointer;
    color: var(--enfermo);
    background-color: transparent;
}

.icono-miembros:hover i {
    cursor: pointer;
    color: var(--btnColor);
    background-color: transparent;
}

.tabla-responsive{
    display: none;
}


/*********************** 
ESTILOS PANEL DE NOTIFICACIONES
 ***********************/
.panel-de-notificaciones{
    z-index: 1000;
    position: fixed;
    right: -100%;
    transition: all .3s;
    background-color: white;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 2px 3px black;
    height: 100vh;
    overflow-y: scroll;
}

.mostrar-panel-notificaciones{
    right: 0;
}

.header-panel-notificaciones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--colorPrincipal);
}

 .header-panel-notificaciones i{
    color: white;
    font-size: 1.5rem;
 }

 .header-panel-notificaciones i:hover{
    cursor: pointer;
 }

.header-panel-notificaciones h2{
    font-family: 'Open-sans-bold';
    color: white;
  }

.body-panel-notificaciones{
    padding: 1rem;
}

.body-panel-notificaciones ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .8rem;
    border-bottom: 1px solid white;
    padding: 0 8px;
}

.body-panel-notificaciones ul li:hover{
    border-bottom: 1px solid var(--colorPrincipal);
}

.body-panel-notificaciones ul li p{
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
}

.body-panel-notificaciones i{
    color: gray;
    font-size: 1rem;
}

.body-panel-notificaciones .iconos i:first-child{
    color: var(--colorPrincipal);
    margin-right: 1rem;
}

.body-panel-notificaciones .iconos i:last-child{
    color: #dc3545;
}

.body-panel-notificaciones i:hover{
    cursor: pointer;
}

.body-panel-notificaciones .consultas{
    margin-bottom: 1rem;
}

.body-panel-notificaciones h3{
    margin-bottom: 1rem;
    font-family: 'Open-sans-bold';
    border-bottom: 1px solid var(--colorPrincipal);
    width: 75%;
}

 /*********************** 
ESTILOS RESPONSIVE
 ***********************/

 /*TABLE RESPONSIVE*/
@media screen and (max-width: 850px){
    .table{
        display: none;
    }

    .tabla-responsive{
        display: block;
    }

    .tabla-responsive .fila-paciente{
        padding: 0.75rem;
        border-top: 1px solid #dee2e6;
        overflow-y: hidden;
        max-height: 65px;
        transition: all .2s linear;
    }

    .tabla-responsive .fila-paciente:last-child{
        border-bottom: 1px solid #dee2e6;
    }

    .tabla-responsive .fila-paciente .campo{
        display: flex;
        margin-bottom: .5rem;
        min-height: 40px;
        align-items: center;
        justify-content: space-between;
    }

    .campo p, .campo div{
        flex: 2;
        text-align: center;
    }

    .campo h4{
        flex: 1;
    }

    .campo span{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;  
        font-size: 1.7rem;
    }

    .campo span:hover{
        cursor: pointer;
    }

    .campo .acciones span{
        display: inline-block;
        background-color: rgba(0, 0, 0, .8);
        font-size: 1.2rem; 
        margin-right: 1rem;
        text-align: center;
        height: 30px;
        line-height: 30px;
        border-radius: 10px;
        color: #fff;
        transition: all .2s;
    }

    .campo .acciones span:hover{
        background-color: transparent;
    }

    .campo .acciones .icono-editar:hover i{
        color: var(--sano); /*VERDE*/
    }

    .campo .acciones .icono-eliminar:hover i{
        color: var(--enfermo); /*ROJO*/
    }

    .campo .acciones .icono-miembros:hover i{
        color: var(--btnColor);
    }

    .campo .acciones span:last-child{
        margin-right: 0;
    }

    
}
/*TABLE RESPONSIVE - FIN*/

@media screen and (max-width: 630px){
    .col-sm-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 790px){
    .btn-desplegable, .body-desplegable {
        max-width: 900px;
    }
}

@media screen and (min-width: 600px){
    .campo p{
        font-size: 1rem;
    }

    .campo h4{
        font-size: 1rem;
    }

    .campo span{
        font-size: 2rem;
    }

    .sub-header ul li a{
        font-size: 1.3rem;
    }

    .nav-botones-header ul li i{
        font-size: 1.3rem;
    }

    .col-md-12{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-8{
        flex: 0 0 calc(66.6% - 1rem);
        max-width: calc(66.6% - 1rem);
        margin-right: 1rem; 
    }

    .col-md-6{
        flex: 0 0 calc(50% - 1rem);
        max-width: calc(50% - 1rem);
        margin-right: 1rem;
    }

    .col-md-4{
        flex: 0 0 calc(33.3% - 1rem);
        max-width: calc(33.3% - 1rem);
        margin-right: 1rem;
    }

    .col-md-2{
        flex: 0 0 calc(16.65% - 1rem);
        max-width: calc(16.65% - 1rem);
        margin-right: 1rem;
    }

    form h2{
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 850px){
    main{
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px){
    .radio-container label{
        font-size: 1rem;
    }
}

/* FLECHA DE HACER SCROLL */

.scroll-up i{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 2000;
    background-color: var(--colorPrincipal);
    border-radius: 50%;
    color: white;
    font-size: 2.5rem;
    box-shadow: 1px 2px 3px var(--colorPrincipal);
    padding: .2rem;
    transform: scale(0);
    transition: all .3s;
}

.scroll-up i:hover{
    cursor: pointer;
}
