:root {
	--sano: #28a745;
    --enfermo: #dc3545;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face{
    font-family: 'Open-sans-regular';
    src: url(../tipografia/open-sans/OpenSans-Regular.ttf);
}

body {
	min-height: 100vh;
	background-image: url('../img/estetoscopio.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open-sans-regular';
}

body:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(310deg, rgba(255, 255, 255, .8), rgba(255, 255, 255, .3));
}

.form-container {
	z-index: 1;
	background-color: white;
	padding: .5rem;
	box-shadow: 0 0 10px black;
	/*max-width: 80vw;*/
	width: 360px;
	border-radius: 10px;
}

.form-container h2 {
	text-align: center;
	margin-top: .5rem;
}

.form-container form {
	margin: 1rem auto 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 70%;

}
.form-container form .input-container {
	flex: 0 0 100%;
	margin-bottom: .5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.input-container i:hover {
	cursor: pointer;
}

.form-container form input {
	width: 90%;
	padding: 3px;
	border: none; 
	outline: none;
	font-family: 'Open-sans-regular';
}

.form-container form input::placeholder{
	/*font-style: italic;*/
	font-family: 'Open-sans-regular';
	font-weight: bold;
}

.btn{
    border: none;
    border-radius: 20px;
    padding: .5rem 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .2s;
    font-family: 'Open-sans-regular';
    outline: 0;
    background-color: rgb(52, 152, 219);
    margin: 1rem auto;
    color: white;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

span.respuesta {
	display: block;
	text-align: center;
	margin-bottom: .5rem;
}

.neutro {
	border-bottom: 2px solid rgba(0, 0, 0, .3) !important;
} 

.correcto {
	border-bottom: 2px solid var(--sano) !important;
} 

.error {
	border-bottom: 2px solid var(--enfermo) !important;
}

.d-none {
	display: none;
} 